.page{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}
.col{
    width: 100%;
    z-index: 2;
}
.hello{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color:#3d535f;
}
.im{
    display: block;
    font-size: 7em;
    font-weight: 800;
    color:#181d23;
}
.nameSurname{
    color: #022b63;
    text-transform: capitalize;
}
.content{
    display: block;
    width: 90%;
    font-size: 2em;
    color: #000;
}
.buttons{
    width: 100%;
    position: relative;
    left: 150px;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 3px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
button:hover{
    background-color:#3d535f;
}



.content,.typing-css{
    animation: typing 3s steps(200),blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes typing{
    from{
        width: 0;
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}